{% extends 'mainbase.html' %}
{%block content%}
<!DOCTYPE html>
{%load static%}

  <body>



    {%for i in res_token%}

    {%if i.organization_id == '3' %}
          {%if i.role == '1' %}
          <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
              <!-- Content Wrapper. Contains page content -->
              <!-- Developed by Ravi Chand Matangi v 0.1.0 July 11, 2021 -->
              <div class="content-wrapper">
                  <!-- Content Header (Page header) -->
                  <section class="content-header">
                  <h1>
                    Search Product -
                    <small>Track & Trace</small>
                  </h1>
                  <ol class="breadcrumb">
                    <!-- <li><a href="<?php echo base_url('dashboard') ?>"><i class="fa fa-dashboard"></i> Home</a></li> -->
                    <li><a href="{%url 'dashboard'%}"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active"><a href="">Search Product</a></li>
                    <!-- <li class="active"><a href="<?php echo base_url('productTnT/') ?>">Search Product</a></li> -->
                  </ol>
                </section>
                  <!-- Main content -->
                  <section class="content">
                  <!-- Small boxes (Stat box) -->
                  <p><b>Choose the product to Trace using one of the options below...</b></p>
                  <!--
                    <div class="col-md-12 bg-light text-right">
                    <a href="<?php echo base_url('productTnT/trace') ?>"><button type="button" class="btn btn-warning btn-md float-right" type="submit"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Trace&nbsp;</button></a>&nbsp;
                    <a href="<?php echo base_url('productTnT/track') ?>"><button class="btn btn-success btn-md float-right" type="submit" ><i class="glyphicon glyphicon-screenshot"></i>&nbsp;Track&nbsp;</button></a>

                  </div>  -->
                  <!-- Small boxes (Stat box) -->
                  <div class="row">
                    <div id="sel1" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border:0.5px solid white; padding-right: 5px;padding-left: 15px;">
                      <div class="card" style="height: 410px;">
                        <div class="card-body">
                          <h6 class="card-title" style="font-size:1rem;"><b><button class="btn btn-sm btn-primary btn-block" type="button">Find Product Identification Number</button></b></h6>
                          <div class="search-container">
                            <!-- <form role="form" action="<?php echo base_url('ProductTnT/tntdata') ?>" method="post" id="tntdata"> -->

                            <form action="/tracenew/" method=post enctype=multipart/form-data>
                              {%csrf_token%}
                              <div class="form-group">
                                <input type="text" name="input" placeholder="Enter Serial No" size ="40">
                                  <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                                <script type="text/javascript">
                  function ValidateGtinInput() {
                      if (document.getElementById("gtinid").value.trim() == "") {
                          alert("Please enter GTIN!");
                          return false;
                      }
                  };
              </script>
                                <p></p>
                                <p></p>
                                <small>
                                  <p>Search Product Identification</p>
                                  <p> 14 digit GS-1 Global Trade Identificaiton</p>
                                  <p> Results: Found/ Not Found </p>
                                  <p> or This helps to Narrow down your search </p>
                                  <p> you can search Lot /SSCC /Case /Unit SN </p>
                                  <p> GTIN+LOT  </p>
                                  <p> GTIN+S/N (Item)</p>
                                <p> GTIN+SSCC (Pallet/Case) </p></small>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="sel2"  class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border:0.5px solid white; padding-right: 5px;padding-left: 5px;">
                      <div class="card" style="height: 410px;">
                        <div class="card-body">
                          <h6 class="card-title" style="font-size:1rem;"><b><button class="btn btn-sm btn-primary btn-block" type="button">Find Product Brand/Label Name</button></b></h6>
                          <div class="search-container">
                            <div class="form-group">
                              <select id="pname" name="pname" class="itemName form-control" style="width:280px" ></select>
                              <button type="submit" onclick="ValidationEvent();" ><i class="fa fa-search"></i></button>
                              <p></p>
                              <p></p>
                              <small>
                                <p>Search Product by Brand/Label </p>
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="sel3"  class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border:0.5px solid white; padding-right: 15px;padding-left: 5px;">
                      <div class="card" style="height: 410px;">
                        <div class="card-body">
                          <h6 class="card-title" style="font-size:1.5rem;"><b><button class="btn btn-sm btn-primary btn-block" type="button">Find Purchase Orders/Order Between Date Range</button></b></h6>
                          <div class="search-container">
                            <div class="form-group">
                              <select id="pono" name="pono" class="itemName form-control" style="width:280px" ></select>
                              <button type="submit"><i class="fa fa-search"></i></button>
                              <p></p>
                              <p></p>
                              <small>
                                <p>Search Purchase Orders, If you know PO No <br> or you can select orders between two dates</p>
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- /.content -->
              </div>
              <script type="text/javascript">
                function ValidationEvent() {
                  var vwhid = document.getElementById("pname").value;
                  alert(vwhid);
                }
                $(function() {
                  var BASE_URL = "";
                  // var BASE_URL = "<?php echo base_url(); ?>";
                  var placeholder = "--Search GTIN--";

                  $('#gtinid').select2({
                    placeholder: placeholder,
                    minimumInputLength: 1,
                    ajax: {
                      url: "",
                      // url: "<?=base_url()?>productTnT/searchGtin",
                      dataType: 'json',
                      delay: 250,
                      processResults: function (data) {
                        return {
                          results: data
                        };
                      },
                      cache: true				}
                      });

                      $('#pname').select2({
                      placeholder: "--Search Product Brand/Label--",
                      minimumInputLength: 1,
                      ajax: {
                      url: "",
                      // url: "<?=base_url()?>productTnT/searchProductName",
                      dataType: 'json',
                      delay: 250,
                      processResults: function (data) {
                      return {
                      results: data
                      };
                      },
                      cache: true
                      }
                      });



                      $('#pono').select2({
                      placeholder: "--Search PO No--",
                      minimumInputLength: 1,
                      ajax: {
                      url: "",
                      // url: "<?=base_url()?>productTnT/searchGtinData",
                      dataType: 'json',
                      delay: 250,
                      processResults: function (data) {
                      return {
                      results: data
                      };
                      },
                      cache: true
                      }
                      });
                      });
                      // this is to Refresh page

                      function tntdata(id)
                      {
                      if(id) {
                      $("#tntdata").on('submit', function() {

                      var form = $(this);
                      console.log(form);
                      // hide the modal
                      $("#sel2").modal('hide');

                      // hide the modal
                      $("#sel3").modal('hide');

                      return false;
                      });
                      }
                      }

                      </script>

          {%endif%}
    {%endif%}




    {%endfor%}

  </body>
</html>
{%endblock%}
